* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
    background: var(--background);
}
h1 {
    font-size: 14pt;
    color: var(--titleText);
    margin: 10px;
}
#content {
    position: relative;
    float: left;
    width: 100%;
}



